#introContainer {
  background-image: url('../media/giphy-downsized-large.gif');
  background-size: 100% 100%;
}

#introLogo {
  animation: introLogoAnim 5s ease-in;
}

@keyframes introLogoAnim {
  0% { opacity: 0; }
  90% { opacity: .5; }
  100% { opacity: 1; }
}

#skipIntro {
  background-color: rgba(0,0,0,.5);
  bottom: 50px;
  cursor: pointer;
  right: 50px;
}

header {
  opacity: 0;
  top: -50px;
  transition: transform .5s, opacity 1s;
  z-index: 100;
}

.header-visible {
  opacity: 1;
  transform: translateY(50px);
}

#mainLogo {
  transition: opacity .5s ease-out;
}

#hamburgerNav {
  background: none;
  border: none;
  cursor: pointer;
  height: 50px;
  left: 50px;
  position: fixed;
  top: 30px;
  z-index: 999;
}

#hamburgerNav div {
  background-color: white;
  height: 3px;
  position: relative;
  width: 50px;
}

.firstLine {
  margin-bottom: 10px;
  transition: top .25s, transform .25s;
}

.lastLine {
  margin-top: 10px;
  transition: bottom .25s, transform .25s;
}

.firstLine-clicked {
  top: 13px;
  transform: rotate(45deg);
}

.middleLine-clicked {
  visibility: hidden;
}

.lastLine-clicked {
  bottom: 12px;
  transform: rotate(-45deg);
}

.nav {
  max-width: 500px;
  position: fixed;
  z-index: 998;
}

.nav-content a {
  color: white;
  left: -25%;
  opacity: 0;
  position: relative;
  text-decoration: none;
  transition: all .2s ease-out;
  visibility: hidden;
}

.nav-content a.nav-item-visible {
  opacity: 1;
  transform: translateX(25%);
  visibility: visible;
}

main {
  position: relative;
}

#stars {
  background: linear-gradient(90deg, rgba(9,11,18,1) 0%, rgba(18,25,35,1) 50%, rgba(9,11,18,1) 100%);
  /* background: black; */
  height: 5000px;
  position: fixed;
  z-index: -1;
}

#mainContainer {
  height: 5000px;
  width: 100%;
}


/* helpers */
.fadeout {
  opacity: 0;
}

.mbAlot {
  margin-bottom: 32rem;
}