#introContainer {
  background-image: url('../media/giphy-downsized-large.gif');
  background-size: 100% 100%;
}

header {
  z-index: 100;
}

nav {
  cursor: pointer;
  left: 50px;
  position: fixed;
  top: 30px;
  z-index: 999;
}

nav div {
  background-color: white;
  height: 3px;
  width: 50px;
}

nav div:first-child {
  margin-bottom: 10px;
}

nav div:last-child {
  margin-top: 10px;
}

main {
  position: relative;
}

#stars {
  /* background: linear-gradient(90deg, rgba(9,11,18,1) 0%, rgba(18,25,35,1) 50%, rgba(9,11,18,1) 100%); */
  background: black;
  height: 5000px;
  position: fixed;
  z-index: -1;
}

#container {
  height: 5000px;
  width: 100%;
}

.mbAlot {
  margin-bottom: 32rem;
}