@import '../../styles/partials/mixins';

.event {
   padding: 20px 8px;
   border: solid #fff;
   border-width: 0 0 1px 0;
   transition: background-color 0.2s ease-in-out;
   display: flex;
   flex-direction: column;
   text-align: center;

   @include tablet {
      flex-direction: row;
      justify-content: right;
      align-items: center;
      text-align: left;
      gap: 8px;

   }

   @include desktop {
      justify-content: space-between;
   }

   &:hover {
      background-color: rgba(242, 242, 242, 0.1);
   }

   &__top-container {
      display: flex;
      flex-direction: column;

      @include tablet {
         flex: auto;
      }

      @include desktop {
         width: 35%;
      }

      &--date {
         margin-bottom: 4px;
         font-weight: bold;
      }

      &--location {
         margin-bottom: 4px;

         @include desktop {
            display: none;
         }
      }


      &--venue {
         margin-bottom: 4px;

         @include desktop {
            margin: 0;
         }

      }
   }

   &__center-container {

      // display: flex;
      @include desktop {
         width: 35%;
         margin-left: 100px;
      }

      &--location-mobile {
         display: none;

         @include desktop {
            display: block;
         }
      }

   }

   &__social-wrapper {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
         // justify-content: right;
         // align-self: self-end;
      }

      &--rsvp {
         // Add your styles for the RSVP image
      }

      &--fb,
      &--twitter,
      &--email,
      &--website {}
   }

   &__bottom-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: space-between;
      align-items: center;

      @include tablet {
         flex-direction: row;
         justify-content: right;
      }

      &--button {
         @include button;
      }
   }
}