@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.hero {
	// overflow: hidden;
	max-height: calc(100vh - 114.71px);
	object-fit: cover;
	background-color: #000;
	width: 100%;

	@include tablet {
		// min-height: 100vh;
	}

	@include desktop-header {
		// min-height: 100vh;
	}

	@include desktop {
		// min-height: 100vh;
	}

	&__video {}
}