.tourdates {
	background-color: black;
	background-image: url('../../assets/images/miscellaneous/NavMenuPicbackground.png');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 44px 28px;
	text-align: center;

	&__header {}

	&__follow-container {
		padding: 20px 0;

		&--subheader {
			font-weight: bolder;
			font-size: 24px;
		}

		&--follow-button {
			font-weight: bolder;
			font-size: 18px;
			padding: 30px;
		}
	}

	&__events-container {
		&--upcoming {
			margin: 0 8px;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px;
		margin: 0 8px;
		gap: 12px;
		border-bottom: 1px solid #fff;
		font-size: 14px;
		font-weight: bold;
	}

}

.divider {
	font-size: 18px;
}